* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100svh; /* mejor que 100vh en móviles modernos */
    background: #1a1f4f;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

/* Tarjeta */
.card {
    text-align: center;
    width: 100%;
    max-width: 350px;
}

/* Títulos */
h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    opacity: 0.8;
    margin-bottom: 15px;
}

/* Imagen circular */
.profile-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin: 15px 0;
    border: 3px solid white;
}

/* Botón principal */
.btn-main {
    display: block;
    margin: 15px 0;
    padding: 12px;
    background: white;
    color: #1a1f4f;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
}

/* Contacto */
.contact {
    margin-top: 15px;
}

.contact a {
    display: block;
    margin: 6px 0;
    color: black;
    text-decoration: none;
    font-size: 14px;
}
